.head {
  background-image: url(https://r2.community.samsung.com/t5/image/serverpage/image-id/763058iA58E95820D3B3562/image-size/large?v=v2&px=999);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100%;
  max-width: 100%;
  max-height: 98%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
 
}
.over-lay{
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2)
}
.nav-bar{
  height: 80px;
  width: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5)
}

.nav-bar ul {
  float: right;
  margin: 22px 10px 10px 10px;
  list-style: none;
}
.nav-bar ul li {
  float: left;
  margin: 5px;
  margin-right: 15px;
}
.heading {
  margin: 17px 30px;
  font-size: 18px;
  font-weight: bold;
  display: inline;
  float: left;

}
.heading:hover{
  font-size: 21px;
}

.nav-bar ul li:hover {
  border-bottom: 10px solid rgb(12, 18, 102);
  border-radius: 10px;
  font-size: 20px;
}

.heading-text{
  color: rgb(211, 197, 197);
  text-shadow:9px 9px  #352424 ;
  font-size: 35px;
  font-weight: bold
}
.overlay {
  margin-top: 335px;
  margin-left: 30px;
  font-size: 30px;
}
.sheading {
  color: rgb(247, 247, 247);
  font-weight: bolder;
}
.lheading{
  color: rgb(255, 242, 218);
  font-size: 15px;
}







